{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'core/css/estilo.css' %}">
    
    
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i" rel="stylesheet">
</head>
<body>
    
        <main class="wrapper">
                <section class="hero">
                    <div class="NavSection">
                        <div class="NavSecWrapper">
                            <ul>
                                <li id="liF" ><a href="{% url 'admin' %}">Administrar</a></li>
                                
                                <li id="liS" ><a href="#">Iniciar Sesión</a></li>
                              </ul>
                              <div class="NavWrapper">
                                <div class="nav_img class="img"">
                                  
                                </div>
                              </div>
                              <div class="NavSearch">
                                <div class="NavSearchWrapper">
                                  <input type="text" name="search" value="Buscar peliculas" id="">
                                </div>
                              </div>
                            </div>
                       
                          </div>
                  
                  
                  
                </section>
                

                </button>
                <section class="section">
                  <ul>
                    <li>
                            
                            
                            

                      <figure>
                         <a href="{% url 'pelicula' %}"><img class="img" src="https://terrigen-cdn-dev.marvel.com/content/prod/1x/thor_lob_crd_01.jpg" alt="Movies"></a>
                        <figcaption>
                          
                        </figcaption>
                      </figure>
                    </li>
                    <li>
                            
                            
                            
                      <figure>
                          <a href=""><img class="img" src="https://terrigen-cdn-dev.marvel.com/content/prod/1x/ironman2_lob_crd_01_3.jpg" alt="Movies"></a>
                        
                        <figcaption>
                          
                        </figcaption>
                      </figure>
                      
                    </li>
                    <li>
                            
                            
                      <figure>
                        <a href=""><img class="img" src="https://terrigen-cdn-dev.marvel.com/content/prod/1x/theincrediblehulk_lob_crd_01_2.jpg" alt=""></a>
                        
                        <figcaption>
                          
                        </figcaption>
                      </figure>
                    </li>
                    <li>
                        
                            
                            
                            <figure>
                             
                               <a href=""> <img class="img" src="https://terrigen-cdn-dev.marvel.com/content/prod/1x/ironman_lob_crd_01_3.jpg"></a>
                              <figcaption>
                                
                              </figcaption>
                            </figure>
                            
                          </li>
                          
                  </ul>
                </section>
              </main>
              <div class="ThirdSection">
                  <div class="FourthSecWrapper">
                      <h3>DC</h3>
                      
                  </div>
                  
                

                
                <section class="section">
                  <ul>
                    <li>
                            
                            
                            

                      <figure>
                          <a href=""><img class="img" src="https://terrigen-cdn-dev.marvel.com/content/prod/1x/spider-manfarfromhome_lob_crd_04_3.jpg" alt="Movies"></a>
                        
                      </figure>
                    </li>
                    <li>
                            
                            
                            
                      <figure>
                          <a href=""><img class="img" src="https://terrigen-cdn-dev.marvel.com/content/prod/1x/avengersendgame_lob_crd_05_2.jpg" alt="Movies"></a>
                        
                        <figcaption>
                          
                        </figcaption>
                      </figure>
                      
                    </li>
                    <li>
                            
                            
                      <figure>
                        <a href=""><img class="img" src="https://terrigen-cdn-dev.marvel.com/content/prod/1x/captainmarvel_lob_crd_06.jpg" alt=""></a>
                        <figcaption>
                          
                        </figcaption>
                      </figure>
                    </li>
                    <li>
                        
                            
                            
                            <figure>
                             
                              <a href="www.google.com"><img class="img" src="https://terrigen-cdn-dev.marvel.com/content/prod/1x/ant-manthewasp_lob_crd_01.jpg"></a>
                              <figcaption>
                                
                              </figcaption>
                            </figure>
                            
                          </li>
                          
                  </ul>
                </section>
              </main>
                </div>
                <div class="FiftheSection">
                  
                  <div class="FiftheSecWapper">
                    <div class="HeadWreapper">
                      
                    </div>
                    <div class="ParaWrapper">
                      
                    </div>
                    
                    
                  </div>
                </div>
              <footer>
                  <p>Design with <i class="❤">❤</i> by @cabreu145 | <a target="_blank" href="https://twitter.com/cabreu145">Twitter</a> | <a target="_blank" href="https://github.com/cabreu145">Github</a></p>
              
               
             </footer>
              <!-- <script src="/js/ajax.js"></script> -->
    
</body>
</html>

