<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DC/MARVL</title>
    <link rel="stylesheet" href="/template/css/newindex.css">
</head>
<body>
    <head class=""></head>
    

    <div class="container">
        
        <div class="content">

        </div>
    
        <aside class=""></aside>





        <footer class=""></footer>
        
    </div>
</body>
</html>