{% extends 'portfolio/baseformularios.html'%}
{% block title %}Calificacion{% endblock %}
{% block header %}
    <header class="title">
        <h1>Administrador </h1>
    </header>
    
    <div class="container">
        <header class="header">
            <h1>{{ user }}</h1>
            <h2><a class="a" href="{% url 'admin' %}"> regresar </a></h2>
            
        </header>
        {% endblock %}
{% block content %}

<table id="myTable">
        <thead>
                <tr>
                        <th>Calificacion</th><th>Estado</th><th>Acciones</th>
                </tr>
        </thead>
        <tbody >
            
        
        {% for calificacion in calificaciones %}
        <tr> 
                <td>{{calificacion.calificacion|upper }}</td>
                <td>{{calificacion.estatus }}</td>
                <td><a href="{% url 'editarcalif' calificacion.idcalificaciones %}">Editar</a> <a href="{% url 'eliminarcalif' calificacion.idcalificaciones%}">Borrar</a></td>
        </tr>
        {% endfor %}
        </tbody>
        
        <tfoot>
                <h2><a class="newPelicula" href="{% url 'calificacionnew' %}"> Nueva Calificacion</a></h2>
        </tfoot>
        
        
    </table>
    <div class="pagination">
            <span class="step-links">
                {% if calificaciones.has_previous %}
                    <a href="?page=1">&laquo; Primero</a>
                    <a href="?page={{ calificaciones.previous_page_number }}">Anterior</a>
                {% endif %}
        
                <span class="current">
                    Pagina {{ calificaciones.number }} de {{ calificaciones.paginator.num_pages }}.
                </span>
        
                {% if calificaciones.has_next %}
                    <a href="?page={{ calificaciones.next_page_number }}">Siguiente</a>
                    <a href="?page={{ calificaciones.paginator.num_pages }}">Ultimo &raquo;</a>
                {% endif %}
            </span>
        </div>
    
    
          
         
    
{% endblock %}


