{% extends 'portfolio/baseformularios.html'%}
{% block title %}Elenco{% endblock %}
{% block header %}
    <header class="title">
        <h1>Administrador </h1>
    </header>
    
    <div class="container">
        <header class="header">
            <h1>{{ user }}</h1>
            <h2><a class="a" href="{% url 'admin' %}"> regresar </a></h2>
            
        </header>
        {% endblock %}
{% block content %}

<table id="myTable">
        <thead>
                <tr>
                        <th>Actor</th><th>Heroe</th><th>Acciones</th>
                </tr>
        </thead>
        <tbody >
            
        
        {% for cast in casts %}
        <tr> 
                <td>{{cast.personas_idpersonas}}</td>
                <td>{{cast.personajes_idpersonajes }}</td>
                 <td><a href="{% url 'castedit' cast.idelenco %}">Editar  </a><a href="{% url 'eliminarcast' cast.idelenco %}">  Borrar </a></td>
        </tr>
        {% endfor %}
        </tbody>
        <tfoot>
                <h2><a class="newPelicula" href="{% url 'castnew' %}"> Nuevo elenco </a></h2>
        </tfoot>
        
        
    </table>
    <div class="pagination">
            <span class="step-links">
                {% if casts.has_previous %}
                    <a href="?page=1">&laquo; Primero</a>
                    <a href="?page={{ casts.previous_page_number }}">Anterior</a>
                {% endif %}
        
                <span class="current">
                    Pagina {{ casts.number }} de {{ casts.paginator.num_pages }}.
                </span>
        
                {% if casts.has_next %}
                    <a href="?page={{ casts.next_page_number }}">Siguiente</a>
                    <a href="?page={{ casts.paginator.num_pages }}">Ultimo &raquo;</a>
                {% endif %}
            </span>
            
        </div>
    
    
          
         
    
{% endblock %}


